/* general setting */
*{
  max-width: 100%;
}
html,body{
  padding:0;
  margin:0;
}
body {
  padding-top: 70px;
}
section.page-sections{
  margin:0;
  padding:0;
}

/*
details section
*/
section.page-sections.details{
  height:100%;
  padding-bottom: 100px;
}
.profile{
  text-align: center;
  padding:0;
  margin: 0;
  padding-top: 100px;
}
.profile img{
  border-radius: 30px;
  height:250px;
}
.social{
  padding-top: 120px;
  text-align: center;
}
.social i {
  padding:20px;
}
.fa-google-plus{
  color:red;
}
.fa-github{
  color:black;
}
.fa:hover{
  opacity:0.6;
  font-size: 450%;
}
/*
The skills section
*/
.skills-section{
  height:auto;
  background-color: rgba(142, 64, 200,0.3);
}
.skills-section .skills-section-wrapper{
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills{
  padding-top: 30px;
  padding-bottom: 30px
  height:600px;/*fixed height here check for problems later*/
}
.skills .row{
  height:50%;
}
.skills .col-xs-4{
  height:100%;
}
.skills img{
  height:10%;  
}
/*.html{
  height:100%;
  background-image: url("../img/langs/html.png");
  background-size: contain;
  background-repeat: no-repeat;
}*/
/*.css{
  height:100%;
  background-image: url("../img/langs/css.png");
  background-size: contain;
  background-repeat: no-repeat;
}*/
/*.js{
  height:100%;
  background-image: url("../img/langs/js.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.python{
  height:100%;
  background-image: url("../img/langs/python.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.django{
  height:100%;
  background-image: url("../img/langs/django.png");
  background-size: contain;
  background-repeat: no-repeat;
}*/
